<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="feature.InvalidFeature" value="_-Wrong-_" />
    <add key="feature.OnFeature" value="On" />
    <add key="feature.OffFeature" value="Off" />
    <add key="feature.PropertyFeature" value="Property" />
    <add key="feature.PropertyFeature.Foo" value="A,B,C" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1502.911" newVersion="4.2.1502.911" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>