<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="feature.InvalidFeature" value="_-Wrong-_"/>
    <add key="feature.OnFeature" value="On"/>
    <add key="feature.OffFeature" value="Off"/>
    <add key="feature.PropertyFeature" value="Property"/>
    <add key="feature.PropertyFeature.Foo" value="A,B,C"/>
  </appSettings>
</configuration>